<?xml version="1.0"?>

<model>
  <name>apriltags_10cm</name>
  <version>1.0</version>

  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Mike</name>
    <email>none</email>
  </author>

  <description>
    Six 10 cm by 10 cm AprilTag markers for the 5.5 m by 3.0 m Robotino Gazebo Sim arena.
  </description>
</model>