<?xml version="1.0"?>
<robot name="rto" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include filename="$(find rto_description)/urdf/components/rto_parts.urdf.xacro"/>
  <xacro:include filename="$(find rto_description)/urdf/components/rto_body.urdf.xacro"/>
  <xacro:include filename="$(find rto_description)/urdf/sensors/asus_xtion_pro.urdf.xacro"/>
  <xacro:include filename="$(find rto_description)/urdf/sensors/simple_lidar.urdf.xacro"/>
  <!-- <xacro:include filename="$(find rto_description)/urdf/sensors/hokuyo.urdf.xacro"/> -->
 <!-- <xacro:include filename="$(find rto_description)/gazebo/robotino.gazebo"/> -->
  <xacro:rto_body/>
  <!-- <xacro:bracket parent="base_link" name="bracket_camera" scale="0.000666666667">
    <origin xyz="0.084 0 0.271" rpy="0 3.14 1.57"/>
  </xacro:bracket>-->
<xacro:simple_lidar name="lidar" parent="base_link">
  <origin xyz="0.0 0.0 0.21" rpy="0 0 0"/>
</xacro:simple_lidar>
</robot>